<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 必须先导入Vue -->
    <script src="./lib/vue-2.4.0.js"></script>
    <!-- 在导入router包 -->
    <script src="./lib/vue-router-3.0.1.js"></script>
    <style>

        /* 给route-link 元素添加样式 */
        /* .router-link-active{
            font-size: 30px;
            font-weight: 800;
            color: red;
        } */
    
        .mystyle{
            font-size: 30px;
            font-weight: 800;
            color: red;
        }

        .v-enter,.v-leave-to{
            opacity: 0;
            transform: translate(0,200px)
        }
        .v-enter-active,.v-leave-active{
            transition: all .4s ease-in-out;
        }
    
    </style>
</head>
<body>

    <div id="app">
        <!-- <a href="#/log">登录</a>
        <a href="#/zhuce">注册</a> -->


        <!-- router-link 也是router提供的标签，用来监听URL  不用写#号，默认渲染为一个a 标签 -->
        <router-link to="/log" tag="span">登录</router-link>
        <router-link to="/zhuce">注册</router-link>
        <!-- VueRouter提供的元素标签，用来切换路由组件的显示的 -->
        <!-- 这是 vue-router 提供的元素，专门用来 当作占位符的，将来，路由规则，匹配到的组件，就会展示到这个 router-view 中去 -->
        <!-- 所以： 我们可以把 router-view 认为是一个占位符 -->
        <transition mode="out-in">    <!--给route-view 添加动画 必须要使用transition 标签包裹 并设置模式先出后进-->>
            <router-view></router-view>
        </transition>

    </div>

    <script>
        // 组件模板对象，以后定义组件都这么用  别使用template  那个不是组件模板对象
        var log={
            template:"<h1>登录界面</h1>"
        }
        var zhuce={
            template:"<h1>注册界面</h1>"
        }

        // 路由实例
        var vuerouterobj=new VueRouter({
            // route // 这个配置对象中的 route 表示 【路由匹配规则】 的意思
            routes: [// 路由匹配规则 
             // 每个路由规则，都是一个对象，这个规则对象，身上，有两个必须的属性：
            //  属性1 是 path， 表示监听 哪个路由链接地址；
            //  属性2 是 component， 表示，如果 路由是前面匹配到的 path ，则展示 component 属性对应的那个组件
            // 注意： component 的属性值，必须是一个 组件的模板对象， 不能是 组件的引用名称；
            // { path: '/', component: login },
                {path:'/',redirect:'/log'},// 这里的 redirect path是根路径的时候，页面重定向到登录界面
                {path:'/log',component:log},
                {path:'/zhuce',component:zhuce},
            ],
            // 使用router-link切换组件的时候，默认会给router-link添加上一个类为 router-link-active 一个类名
            // 我们可以使用这个类名来添加样式，或者使用linkActiveClass 修改这个类名（可以修改bootstrapt的类型哦）
            linkActiveClass:"mystyle"    
        })




        // Vue实例
        var vm=new Vue({
            el:'#app',
            data:{},
            methods: {
                
            },
            

            // 引用路由实例
            router:vuerouterobj   // 将路由规则对象，注册到 vm 实例上，用来监听 URL 地址的变化，然后展示对应的组件
        })



    </script>
</body>
</html>
